html,body{
    background-image: url(/img/편지지\ 배경2.jpg);
    margin: 0;
    font-family:  sans-serif;
    font-size: 1em;
    /* padding-right: -20%; */
}

.container{
    background-color: aquamarine;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 15px 1px;
    /* display: flex;
    justify-content: center; */
}
.video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4em;
}
.video iframe,
.video object,
.video embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.h1{
    font-size: 1.5em;
}